// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 60px;
$gutter-width   : 10px;
$grid-padding   : 10px;
$container-style: fluid;
