// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 60px;
$gutter-width   : 0px;
$grid-padding   : $gutter-width ;
$container-style: fluid;
