//Color-palette 1.:
$pale: #fcfaf2;
$grey: #bdc0ba;
$dark: #0c0c0c;
//Color-palette 2.:
// $pale: #ffffff;
// $grey: #bdbdbd;
// $dark: #0c0c0c;
$darkGrey: #4f4f48;
$orange: #f75c2f;
$navPadding: 10px;

$gridAlpha:0.25;
$gridSize:10px;
$imgShadowPadding: 2px;
$imgShadowBlur: 0px;
//common
@import "base";

html, body{
  height: 100%;
}
body{
	background-color: $pale;	
}

.autoHeight{
	height: auto;
}

.quarterHeight{
	height:25%;
}

.container{
	@include container;
	font-family: 'Oxygen', sans-serif;
	height:100%;
	padding: 0;
	margin: 0;	
}

.gridBackground{
	background-color: $pale;	
    background-image: 
    	linear-gradient(
	    	-45deg, 
	    	transparent 24%, 
	    	rgba(189, 192, 186, $gridAlpha) 25%, 
	    	rgba(189, 192, 186, $gridAlpha) 26%, 
	    	transparent 27%, 
	    	transparent 74%, 
	    	rgba(189, 192, 186, $gridAlpha) 75%, 
	    	rgba(189, 192, 186, $gridAlpha) 76%, 
	    	transparent 77%, 
	    	transparent);
	background-size:$gridSize $gridSize;	
}

.siteInfo{
	font-family: sans-serif;
	position: fixed;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1px;
	color: $grey;
	top:48%;
	padding:0;
	margin:0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);		
}
.fixedLeft{	left:-70px;	}
.fixedRight{ right:-100px; }

.workMenu{
	color:$pale;
	right:0px;
	position: fixed;
	top:25%;
	a{
		background-color: $darkGrey;
		font-family: sans-serif;
		text-decoration: none;
		font-size: 22px;
		font-weight: normal;
		color: $pale;
		margin:0;
		padding: 10px 20px;
	}
	a:hover{
		background-color:$orange;
		color: $pale;
	}
}


.highLighter{
	display: inline-block;			
	position:relative;
	left:-14px;
	top:-2px;
	width: 0;
	height: 0;
	border-left: 14px solid $orange;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
}
.highLighterShadow{
	display: inline-block;
	left:16px;
	width: 0;
	height: 0;
	border-left: 14px solid $grey;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
}

header{
	@include span-columns(12 omega,12);
	color: $darkGrey;
	margin:0 auto;
	padding:0;	
	margin-bottom: 10px;
	nav{	
		@include span-columns(12 omega,12);
		background-color: $dark;
		font-size:18px;
		text-align: center;
		padding:$navPadding 0 $navPadding + 2px;
		border-bottom: 1px solid $grey;
		a{	  	
			color:$pale;
			text-decoration: none;
			letter-spacing: 1px;
			padding: $navPadding 10px;
		}
		a:link, a:active, a:visited{color:$pale;}
		a:hover{
			background-color: $darkGrey;
			padding-bottom: $navPadding + 2px;
			border-bottom: 10px solid $orange;
		}  
	}
}

section{
	@include span-columns(12,12);
	height: 100%;
	article{
		@include span-columns(6,12);
		@include pad(3,3);
		h1{
			font-size: 40px;
			font-weight: bold;
			margin:20px 0;
			text-align: center; 			
		}				
		p{
			font-size: 16px;
			margin:20px 0;
			line-height: 24px;
		}
		a{	  
			color: $darkGrey;
			text-decoration: underline;		
			font-weight: bold;
		}
		a:hover{
			color: $orange;
		}	  		
	}	
}
section#top{
	#titleFrame{
		border:1px solid $grey;
		padding: 100px 240px;
	}	
	.charBlock{
		background-color: $darkGrey;
		display: inline-block;
		width: 160px;
		height: 160px;
		margin-bottom: 3px;
	}
	h2{	
		font-family: 'Josefin Sans', sans-serif;
		font-weight: normal;
		font-size: 120px;
		color: $pale;
		line-height: 80px;
		text-align: center;
		padding-top:20px;
		-moz-transform: translateY(15px);
		-ms-transform: translateY(15px);
	}
	h3{	
		font-size: 24px;
		letter-spacing: 1px;
		font-weight: normal;
		text-align: right;
		margin-top:2px;
		padding-right: 2px;
	}
}
section#skillSet{	
	#p5Parent{
		@include span-columns(8 omega,12);
		@include pad(2,2);
		canvas{
			height:95%; 
			width:100%;
			outline: none;
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-moz-tap-highlight-color: rgba(255, 255, 255, 0);
			-ms-tap-highlight-color: rgba(255, 255, 255, 0);
			-o-tap-highlight-color: rgba(255, 255, 255, 0);
		}		
	}	
}

section#about{	
	article{
		@include span-columns(8,12);
		@include pad(2,2);
		color: $pale;
		#aboutFrame{
			background-color:$darkGrey;
			border:1px solid $grey;
			padding:80px 100px;
		}
		h1{
			margin:0 0 10px;			
		}
		p{
			font-size: 22px;
			letter-spacing: 2px;
			font-weight: normal;
		}
		a{	  
			color: $pale;
		}
		a:hover{
			color: $orange;
		}
	}
}

section#workList{
	article{
		@include span-columns(6 omega,12);
		@include pad(3,3);
		text-align:center;
		margin:60px 0 20px;
		a{	
			@include span-columns(2, 6);
			&:nth-child(3n) { @include omega; }
			display: inline-block;
			text-decoration: none;
			font-weight: normal;			
			color: $grey;
			img{
				outline: $grey solid 6px;
				width: 100%;
			}
			p{
				font-size: 22px;
				margin: 20px 0 40px;
			}			
		}
		a:hover{
			color: $orange;			
		}	
		a:hover img{		
			outline: $orange solid 6px;
		}		
	}
	#moreWork{	
		text-align:center;	
		a{
			text-decoration: none;
			font-size: 22px;
			font-weight: normal;
			background-color:$darkGrey;
			color: $pale;
			margin:0 auto;
			padding: 10px 20px;
		}
		a:hover{
			background-color:$orange;
			color: $pale;
		}
	}		
}

section#workDetail{
	article{
		@include span-columns(6 omega,12);
		@include pad(3,3);
		text-align: left;
		.path{
			letter-spacing: 1px;
			color:$grey;
			a, a:active{ 
				color:$grey; 
				font-weight: normal;
			}
			a:hover, a:focus{
				color:$orange;
			}
		}		
		h1{
			margin: 40px 0 4px;
			text-align: left;
		}
		h2{
			font-size: 16px;
			margin-bottom: 40px;
		}
		p{
			font-size: 16px;
			margin:10px 0;
			line-height: 24px;
		}
		img{
			outline: $grey solid 6px;
			width: 100%;
			margin-bottom: 40px;
			padding: 0;
		}
	}
}

section#contact{		  	
  	height: 80%;
  	article{
  		text-align: center;
  		h2
  		{
  			display: inline-block;
  			font-size: 56px;
  			font-weight: bold;
  			letter-spacing:2px;
  			margin:40px 0 20px;
  			text-align: center;
  		}
  	}
  	#linkGroup{
  		margin-top: 20px;
  		text-align: center;
  		.socialIcon{
  			display: inline-block;
  			background-color:$darkGrey;
  			font-size: 56px;
  			width: 80px;	 
  			height: 76px;
  			text-align: center;
  			margin:0px;
  			padding-top:5px;
  			span{
  				display: inline-block;
  				font-size:32px;
  				-webkit-transform: translateY(-18px);
				-moz-transform: translateY(-18px);
				-ms-transform: translateY(-18px);
				-o-transform: translateY(-18px);
  			}
  		}
  		a{
  			color: $pale;
  		}
  		a:hover .socialIcon{
  			background-color:$orange;
  		}
  	}
}

#goTop{
	@include span-columns(8,12);
	@include pad(2,2);
	position:relative;
	top:-40px;
	background-color:transparent;
	font-family: 'Oxygen', sans-serif;
	font-size: 40px;
	text-align: right;
	margin-bottom: -10px;
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	a{
		color: $dark;
		text-decoration: none;			
	}
	a:hover{
		color:$orange;
		.triangle-up{
			border-bottom: 30px solid $orange;
		}
	}
	.triangle-up{
		display: inline-block;
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 30px solid $dark;
	}
}

footer{
	@include span-columns(12,12);
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	background-color: $dark;
	color: $pale; 
	height: 20%;
	h1{
		font-size: 24px;
		font-weight: normal;
		letter-spacing: 1px;
		vertical-align:middle;
		margin-top: 60px;
	}
}
.verticalAlignContainer{
	display: table;
	height:100%;
	margin:0 auto;
}

.verticalSectionContainer{
	display: table;
	height:100%;
	width:100%;
	margin:0 auto;
}

.verticalAlignCell{
	display: table-cell;
	vertical-align: middle;
	text-align:left;
}

.line-seperator{
	@include span-columns(12 omega,12);
	text-align: center;
	border-bottom:1px dotted $grey;
	margin:40px 0 60px;
	span{
		position:relative;
		background-color: $pale;
		color:$grey;	
		display: inline-block;
		font-size: 16px;
		bottom:-10px;
		padding:0 10px;
	}
	img{
		margin-bottom: -44px;
		text-align: center;
		height:80px;
		width:80px;
	}
}

//responsive 
@include at-breakpoint(64em 12){
	
}

//Medium screen
@include at-breakpoint(30em 12 64em){
	.siteInfo{
		font-size: 12px;
		top:48%;
	}
	.fixedLeft{	left:-80px;	}
	.fixedRight{ right:-80px; }
	.highLighter{
		display: inline-block;			
		position:relative;
		left:-12px;
		top:0px;
		width: 0;
		height: 0;
		border-left: 10px solid $orange;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}
	.highLighterShadow{
		display: inline-block;
		position:relative;
		left:-0px;
		top:2px;
		width: 0;
		height: 0;
		border-left: 10px solid $grey;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}
	section{
		@include span-columns(12,12);
		height:100%;
		article{
			@include span-columns(6,12);
			@include pad(3,3);
			h1{
				font-size: 30px;
				margin:20px 0;			
			}				
			p{
				font-size: 14px;
				margin:20px 0;
				line-height: 24px;
			}
			a{	  
				color: $darkGrey;
				text-decoration: underline;		
				font-weight: bold;
			}
			a:hover{
				color: $orange;
			}	  		
		}	
	}
	section#top{
		#titleFrame{
			border:1px solid $grey;
			padding: 40px 140px;
		}		
		.charBlock{
			width: 80px;
			height: 80px;
		}
		h2{	
			font-family: 'Josefin Sans', sans-serif;
			font-weight: normal;
			font-size: 64px;
			line-height: 64px;
			padding-top:0px;
			-moz-transform: translateY(10px);
			-ms-transform: translateY(10px);
		}
		h3{	
			font-size: 16px;
			text-align: right;
			margin-top:2px;
			padding-right: 1px;
		}
	}
	section#skillSet{
		#p5Parent{
			@include span-columns(10 omega,12);
			@include pad(1,1);
		}	
	}
	section#about{	
		article{
			@include span-columns(10,12);
			@include pad(1,1);
			#aboutFrame{
				padding:20px 50px;
				text-align: justify;
			}
			h1{
				margin:0 0 10px;			
			}
			p{
				font-size: 14px;
				letter-spacing: 1px;
				line-height: 20px;
			}
		}
	}
	section#workList{
		article{
			@include span-columns(8 omega,12);
			@include pad(2,2);
			a{
				p{
					font-size: 18px;
					margin: 10px 0 20px;
				}	
			}
		}
		#moreWork{		
			a{		
				font-size: 14px;
				padding: 10px 20px;
			}
		}
	}
	section#workDetail{
		article{
			@include span-columns(8 omega,12);
			@include pad(2,2);
			h1{
				margin: 40px 0 4px;
				text-align: left;
			}
			h2{
				font-size: 14px;
				margin-bottom: 40px;
			}
			p{
				font-size: 14px;
				margin:10px 0;
				line-height: 20px;
			}
		}
	}

	section#contact{
		height: 70%;
	  	article{
	  		h2
	  		{
	  			font-size: 32px;
	  			margin:20px 0 10px;			
	  		}
	  	}
	  	#linkGroup{
	  		margin-top: 10px;
	  		.socialIcon{
	  			font-size: 32px;
	  			width: 44px;	 
	  			height: 42px;
	  			padding-top:2px;
	  			span{
	  				font-size:20px;
	  				-webkit-transform: translateY(-12px);
					-moz-transform: translateY(-14px);
					-ms-transform: translateY(-14px);
					-o-transform: translateY(-14px);
	  			}
	  		}
	  	}
	}
	#goTop{
		@include span-columns(10 omega,12);
		@include pad(1,1);
		top:-32px;
		font-size: 32px;
		margin-bottom: -7px;
		-moz-transform: translateY(1px);
		-ms-transform: translateY(1px);	
		a:hover{
			.triangle-up{
				border-bottom: 24px solid $orange;
			}
		}	
		.triangle-up{
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 24px solid $dark;
		}
	}
	footer{
		@include span-columns(12 omega,12);
		height: 20%;
		h1{
			font-size: 18px;
			margin-top: 20px;
		}
	}

}

//small screen
@include at-breakpoint(15em 6 30em){
	.siteInfo{
		display: none;
	}
	.highLighter{
		display: inline-block;			
		position:relative;
		left:-6px;
		top:0px;
		width: 0;
		height: 0;
		border-left: 6px solid $orange;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
	}
	.highLighterShadow{
		display: inline-block;
		position:relative;
		left:-0px;
		top:2px;
		width: 0;
		height: 0;
		border-left: 6px solid $grey;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
	}

	header{
		@include span-columns(6 omega,6);
		
		nav{	
			@include span-columns(6 omega,6);
			padding:$navPadding/2 0 $navPadding/2 + 2px;
			border-bottom: 1px solid $grey;
			font-size:14px;
			a:hover{
				padding-bottom: $navPadding/2 + 2px;
				border-bottom: 5px solid $orange;
			}  
		}

	}
	section{
		@include span-columns(6 omega,6);
		font-family: 'Oxygen', sans-serif;
		height: auto;
		article{
			@include span-columns(6 omega,6);
			@include pad(0,0);
			h1{
				font-size: 18px;
				margin:10px 0 4px;
				text-align: center; 			
			}				
			p{
				font-size: 12px;
				margin:10px 0;
				line-height: 16px;
			}
		}	
	}
	section#top{
		height: 100%;
		.charBlock{
			width: 40px;
			height: 40px;
			margin-bottom: 3px;
		}
		h2{	
			font-size: 32px;
			line-height: 32px;
			padding-top:0px;
			-moz-transform: translateY(4px);
			-ms-transform: translateY(4px);
		}

		h3{	
			font-size: 12px;
			letter-spacing: 0px;
		}
	}

	section#skillSet{
		#p5Parent{
			@include span-columns(6 omega,6);
			@include pad(0,0);
		}	
	}
	section#about{
		background-color:$darkGrey;
		height: 100%;
		article{
			@include span-columns(6 omega,6);
			@include pad(0,0);
			#aboutFrame{
				border:none;
				padding:0 20px;
				text-align: justify;
			}
			p{
				font-size: 12px;
				letter-spacing: 0px;
			}
		}
	}
	section#workList{		
		article{
			@include span-columns(6 omega,6);
			@include pad(0,0);
			a{
				@include span-columns(4 omega,6);
				@include pad(1,1);
				p{
					font-size: 18px;
					margin: 10px 0 20px;
				}	
			}
		}
		#moreWork{		
			a{		
				font-size: 14px;
				padding: 10px 20px;
			}
		}
	}
	section#workDetail{
		article{
			@include span-columns(6 omega,6);
			@include pad(0,0);
			h1{
				margin: 20px 0 4px;
				text-align: left;
				padding:0 20px;
			}
			h2{
				font-size: 14px;
				margin-bottom: 20px;
				padding:0 20px;
			}
			p{
				padding:0 20px;
				font-size: 12px;
				letter-spacing: 0px;
				margin:10px 0;
				line-height: 16px;
				text-align: justify;
			}
			img{
				outline: $grey solid 3px;
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}

	section#contact{		  	
	  	height: 70%;
	  	article{
	  		@include span-columns(6 omega,6);
	  		@include pad(0,0);
	  		h2
	  		{
	  			margin:20px 0 4px;
	  			font-size: 18px;
	  			letter-spacing:1px;		
	  		}
	  	}
	  	#linkGroup{
	  		margin-top: 4px;
	  		.socialIcon{
	  			font-size: 18px;
	  			width: 32px;	 
	  			height: 28px;
	  			span{
	  				display: inline-block;
	  				font-size:16px;
	  				-webkit-transform: translateY(-4px);
					-moz-transform: translateY(-4px);
					-ms-transform: translateY(-4px);
					-o-transform: translateY(-4px);
	  			}
	  		}	  		
	  	}
	}
	#goTop{
		@include span-columns(6 omega,6);
		@include pad(0,0);
		top:-24px;
		font-size: 24px;
		text-align: center;
		margin-bottom: -5px;
		-moz-transform: translateY(1px);
		-ms-transform: translateY(1px);	
		a:hover{
			.triangle-up{
				border-bottom: 18px solid $orange;
			}
		}	
		.triangle-up{
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
			border-bottom: 18px solid $dark;
		}
	}
	footer{
		@include span-columns(6 omega,6);
		height: 30%;
		h1{
			font-size: 14px;
			letter-spacing: 0px;
			margin-top: 40px;
		}
	}
}

@include at-breakpoint(6 15em){
	nav{
		display: none;
	}
	header{
		display: none;
	}
	section{
		display: none;
	}
	section#contact{
		display: block;		  	
	  	height: 70%;
	  	article{
	  		@include span-columns(6 omega,6);
	  		@include pad(0,0);
	  		h2
	  		{
	  			margin:20px 0 4px;
	  			font-size: 16px;
	  			letter-spacing:1px;		
	  		}
	  	}
	  	#linkGroup{
	  		margin-top: 4px;
	  		.socialIcon{
	  			font-size: 18px;
	  			width: 32px;	 
	  			height: 28px;
	  			span{
	  				display: inline-block;
	  				font-size:16px;
	  				-webkit-transform: translateY(-4px);
					-moz-transform: translateY(-4px);
					-ms-transform: translateY(-4px);
					-o-transform: translateY(-4px);
	  			}
	  		}	  		
	  	}
	}
	#goTop{
		display: none;
	}
	footer{
		@include span-columns(6 omega,6);
		height: 30%;
		h1{
			font-size: 14px;
			letter-spacing: 0px;
			margin-top: 40px;
		}
	}

}



