//Color-palette 1.:
$pale: #fcfaf2;
$grey: #bdc0ba;
$dark: #0c0c0c;
//Color-palette 2.:
// $pale: #ffffff;
// $grey: #bdbdbd;
// $dark: #0c0c0c;
$darkGrey: #4f4f48;
$orange: #f75c2f;
$yellow: #ffb11b;
$red: #eb3015;
$deepRed: #cb1b45;

$navPadding: 10px;
$charBloockSize:80px;
$gridAlpha:0.25;
$gridSize:10px;
$imgShadowPadding: 2px;
$imgShadowBlur: 0px;
//common
@import "base";

*{ @include border-box-sizing;}

html, body{
  height: 100%;
}
body{
	background-color: $pale;	
}

.autoHeight{
	height: auto;
}

.quarterHeight{
	height:25%;
}

.container{
	@include container;
	font-family: 'Oxygen', sans-serif;
	height:100%;
	padding: 0;
	margin: 0;	
}

.gridBackground{
	background-color: $pale;	
    background-image: 
    	linear-gradient(
	    	-45deg, 
	    	transparent 24%, 
	    	rgba(189, 192, 186, $gridAlpha) 25%, 
	    	rgba(189, 192, 186, $gridAlpha) 26%, 
	    	transparent 27%, 
	    	transparent 74%, 
	    	rgba(189, 192, 186, $gridAlpha) 75%, 
	    	rgba(189, 192, 186, $gridAlpha) 76%, 
	    	transparent 77%, 
	    	transparent);
	background-size:$gridSize $gridSize;	
}

.siteInfo{
	font-family: sans-serif;
	position: fixed;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1px;
	color: $grey;
	top:48%;
	padding:0;
	margin:0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);		
}
.fixedLeft{	left:-70px;	}
.fixedRight{ right:-100px; }

.workMenu{
	color:$pale;
	right:0px;
	position: fixed;
	top:25%;
	a{
		background-color: $darkGrey;
		font-family: sans-serif;
		text-decoration: none;
		font-size: 22px;
		font-weight: normal;
		color: $pale;
		margin:0;
		padding: 10px 20px;
	}
	a:hover{
		background-color:$orange;
		color: $pale;
	}
}

.highLighter{
	display: inline-block;			
	position:relative;
	left:-14px;
	top:-2px;
	width: 0;
	height: 0;
	border-left: 14px solid $orange;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
}

.highLighterShadow{
	display: inline-block;
	left:16px;
	width: 0;
	height: 0;
	border-left: 14px solid $grey;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
}

.triangle-down{
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid $darkGrey;
}

.triangle-left{
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 20px solid $darkGrey;	
}

.triangle-right{
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid $darkGrey;	
}

header{
	@include span-columns(12 omega,12);
	margin:0 auto;
	padding:0;	
	margin-bottom: 10px;
	nav{	
		@include span-columns(12 omega,12);
		background-color: $dark;
		font-size:18px;
		text-align: center;
		padding:$navPadding 0 $navPadding + 2px;
		border-bottom: 1px solid $grey;
		a{	  	
			color:$pale;
			text-decoration: none;
			padding: $navPadding 10px;
		}
		a:link, a:active, a:visited{color:$pale;}
		a:hover{
			background-color: $darkGrey;
			padding-bottom: $navPadding + 2px;
			color:$pale;
			border-bottom: 10px solid $orange;
		}  
	}
}

section{
	@include span-columns(12 omega,12);
	height: 100%;
	article{
		@include span-columns(12 omega,12);
		@include pad(2,2);
		h1{
			font-size: 40px;
			font-weight: bold;
			margin:20px 0;
			text-align: center; 			
		}				
		p{
			font-size: 16px;
			margin:20px 0;
			line-height: 24px;
		}
		a{	  
			color: $darkGrey;
			text-decoration: underline;		
			font-weight: bold;
		}
		a:hover{
			color: $orange;
		}	  		
	}	
}

section#top{
	.charBlock{
		background-color: $deepRed;
		display: inline-block;
		width: $charBloockSize * 2;
		height: $charBloockSize * 2;
		margin-bottom: 3px;
		-moz-border-radius: $charBloockSize;
		-webkit-border-radius: $charBloockSize;
		border-radius: $charBloockSize;
		h2{	
			font-family: 'Nunito', sans-serif;
			font-weight: normal;
			position:relative;
			top:10px;
			left:10px;
			font-size: 100px;
			width: ($charBloockSize - 10px) * 2;
			height: ($charBloockSize - 10px) * 2;
			background-color: $darkGrey;
			color: $pale;
			text-align: center;
			padding-top:8px;
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			-moz-border-radius: $charBloockSize - 10px;
			-webkit-border-radius: $charBloockSize - 10px;
			border-radius: $charBloockSize - 10px;
		}
	}
	.charBlock:nth-child(3n){
		background-color: $red;
	}
	.charBlock:nth-child(4n){
		background-color: $yellow;		
	}

	h3{	
		font-size: 18px;
		font-weight: normal;
		text-align: left;
		margin-bottom:10px;
		padding-right: 0px;
	}
}
section#skillSet{	
	article{
		text-align: center;
		canvas{
			height:95%; 
			width:100%;
			outline: none;
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-moz-tap-highlight-color: rgba(255, 255, 255, 0);
			-ms-tap-highlight-color: rgba(255, 255, 255, 0);
			-o-tap-highlight-color: rgba(255, 255, 255, 0);
		}		
	}	
}

section#skillSetMobile{
	display:none;
}

section#about{	
	article{
		color: $pale;
		#aboutFrame{
			background-color:$darkGrey;
			border:1px solid $grey;
			padding:80px 100px;
		}
		h1{
			margin:0 0 10px;			
		}
		p{
			font-size: 22px;
			letter-spacing: 2px;
			font-weight: normal;
		}
		a{	  
			color: $pale;
		}
		a:hover{
			color: $orange;
		}
	}
}

section#workList{
	article{
		@include span-columns(12 omega, 12);
		@include pad(2, 2);
		text-align:center;
		margin-bottom: 80px;
		a{
			@include span-columns(3, 9);
			&:nth-child(3n) { @include omega; }
			text-decoration: none;
			font-weight: normal;
			color: $darkGrey;			
			img{
				width: 100%;
			}
			p{
				font-size: 22px;
				margin: 10px 0 20px;
			}			
		}
		a:hover{
			color: $orange;	
			border:6px solid $orange;
		}	
		a:hover p{
			margin: 16px 0 14px;
		}	

	}
	#moreWork{	
		text-align:center;	
		a{
			text-decoration: none;
			font-size: 24px;
			font-weight: normal;
			background-color:$darkGrey;
			color: $pale;
			margin:0 auto;
			padding: 10px 40px;
		}
		a:hover{
			background-color:$orange;
			color: $pale;
		}
	}		
}

section#workDetail{
	article{
		@include span-columns(12 omega,12);
		@include pad(2, 2);
		text-align: left;
		.path{
			letter-spacing: 1px;
			color:$grey;
			a, a:active{ 
				color:$grey; 
				font-weight: normal;
			}
			a:hover, a:focus{
				color:$orange;
			}
		}		
		h1{
			margin: 40px 0 4px;
			text-align: left;
		}
		h2{
			font-size: 16px;
			margin-bottom: 40px;
		}
		p{
			font-size: 16px;
			margin:10px 0;
			line-height: 24px;
		}
		img{
			outline: $grey solid 6px;
			width: 100%;
			margin-bottom: 40px;
			padding: 0;
		}
	}
}

section#contact{		  	
  	height: 80%;
  	article{
  		text-align: center;
  		h2
  		{
  			display: inline-block;
  			font-size: 56px;
  			font-weight: bold;
  			letter-spacing:2px;
  			margin:40px 0 20px;
  			text-align: center;
  		}
  	}
  	#linkGroup{
  		margin-top: 20px;
  		text-align: center;  
  		font-family: 'Nunito', sans-serif;		
  		.socialIcon{
  			display: inline-block;
  			background-color:$darkGrey;
  			font-size: 48px;
  			width: 80px;	 
  			height: 80px;
  			text-align: center;
  			margin:0px;
  			padding-top:10px;
  			-moz-border-radius: 40px;
			-webkit-border-radius: 40px;
			border-radius: 40px;
  			span{
  				display: inline-block;
  				font-size:28px;
  				-webkit-transform: translateY(-18px);
				-moz-transform: translateY(-18px);
				-ms-transform: translateY(-18px);
				-o-transform: translateY(-18px);
  			}
  		}
  		a{
  			color: $pale;
  		}
  		a:hover .socialIcon{
  			background-color:$orange;
  		}
  	}
}

#goTop{
	@include span-columns(12 omega,12);
	@include pad(2,2);
	position:relative;
	top:-40px;
	background-color:transparent;
	font-family: 'Oxygen', sans-serif;
	font-size: 40px;
	text-align: right;
	margin-bottom: -10px;
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	a{
		color: $dark;
		text-decoration: none;			
	}
	a:hover{
		color:$orange;
		.triangle-up{
			border-bottom: 30px solid $orange;
		}
	}
	.triangle-up{
		display: inline-block;
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 30px solid $dark;
	}
}

footer{
	@include span-columns(12,12);
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	background-color: $dark;
	color: $pale; 
	height: 20%;
	h1{
		font-size: 24px;
		font-weight: normal;
		letter-spacing: 1px;
		vertical-align:middle;
		margin-top: 60px;
	}
}
.verticalAlignContainer{
	display: table;
	height:100%;
	margin:0 auto;
}

.verticalSectionContainer{
	display: table;
	height:100%;
	width:100%;
	margin:0 auto;
}

.verticalAlignCell{
	display: table-cell;
	vertical-align: middle;
	text-align:left;
}

.line-seperator{
	@include span-columns(12 omega,12);
	text-align: center;
	border-bottom:1px dotted $grey;
	margin:40px 0 60px;
	span{
		position:relative;
		background-color: $pale;
		color:$grey;	
		display: inline-block;
		font-size: 16px;
		bottom:-10px;
		padding:0 10px;
	}
	img{
		margin-bottom: -44px;
		text-align: center;
		height:80px;
		width:80px;
	}
}

//responsive 

//large screen
@include at-breakpoint(48em 12 64em){
	.siteInfo{
		font-size: 12px;
		top:48%;
	}
	.fixedLeft{	left:-80px;	}
	.fixedRight{ right:-80px; }
	.highLighter{
		display: inline-block;			
		position:relative;
		left:-12px;
		top:0px;
		width: 0;
		height: 0;
		border-left: 10px solid $orange;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}
	.highLighterShadow{
		display: inline-block;
		position:relative;
		left:-0px;
		top:2px;
		width: 0;
		height: 0;
		border-left: 10px solid $grey;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}
	section{
		@include span-columns(12 omega,12);
		height:100%;
		article{
			@include span-columns(12 omega,12);
			@include pad(3,3);
			h1{
				font-size: 30px;
				margin:20px 0;			
			}				
			p{
				font-size: 14px;
				margin:20px 0;
				line-height: 24px;
			}
			a{	  
				color: $darkGrey;
				text-decoration: underline;		
				font-weight: bold;
			}
			a:hover{
				color: $orange;
			}	  		
		}	
	}
	section#top{
		.charBlock{
			width: 72px;
			height: 72px;
			-moz-border-radius: 36px;
			-webkit-border-radius: 36px;
			border-radius: 36px;
			h2{
				top: 6px;
				left: 6px;
				font-size: 40px;
				width: 60px;
				height: 60px;
				background-color: $darkGrey;
				color: $pale;
				text-align: center;
				padding-top:4px;
				-moz-transform: translateY(0px);
				-ms-transform: translateY(0px);
				-moz-border-radius: 30px;
				-webkit-border-radius: 30px;
				border-radius: 30px;
			}
		}
		h3{	
			font-size: 16px;
		}
	}
	section#skillSet{
		#p5Parent{
			@include span-columns(12 omega,12);
			@include pad(1,1);
		}	
	}
	section#about{	
		article{
			@include span-columns(12 omega,12);
			@include pad(1,1);
			#aboutFrame{
				padding:20px 50px;
				text-align: justify;
			}
			h1{
				margin:0 0 10px;			
			}
			p{
				font-size: 14px;
				letter-spacing: 1px;
				line-height: 20px;
			}
		}
	}
	section#workList{
		article{
			@include span-columns(12 omega,12);
			@include pad(1,1);
			margin-bottom: 40px;
			a{
				p{
					font-size: 18px;
					margin: 10px 0 20px;
				}	
			}
		}
		#moreWork{		
			a{		
				font-size: 14px;
				padding: 10px 20px;
			}
		}
	}
	section#workDetail{
		article{
			@include span-columns(12 omega,12);
			@include pad(2,2);
			h1{
				margin: 40px 0 4px;
				text-align: left;
			}
			h2{
				font-size: 14px;
				margin-bottom: 40px;
			}
			p{
				font-size: 14px;
				margin:10px 0;
				line-height: 20px;
			}
		}
	}

	section#contact{
		height: 70%;
	  	article{
	  		h2
	  		{
	  			font-size: 32px;
	  			margin:20px 0 10px;			
	  		}
	  	}
	  	#linkGroup{
	  		margin-top: 10px;
	  		.socialIcon{
	  			font-size: 32px;
	  			width: 50px;	 
	  			height: 50px;
	  			-moz-border-radius: 25px;
				-webkit-border-radius: 25px;
				border-radius: 25px;
	  			padding-top:4px;
	  			span{
	  				font-size:20px;
	  				-webkit-transform: translateY(-12px);
					-moz-transform: translateY(-14px);
					-ms-transform: translateY(-14px);
					-o-transform: translateY(-14px);
	  			}
	  		}
	  	}
	}
	#goTop{
		@include span-columns(12 omega,12);
		@include pad(1,1);
		top:-32px;
		font-size: 32px;
		margin-bottom: -7px;
		-moz-transform: translateY(1px);
		-ms-transform: translateY(1px);	
		a:hover{
			.triangle-up{
				border-bottom: 24px solid $orange;
			}
		}	
		.triangle-up{
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 24px solid $dark;
		}
	}
	footer{
		@include span-columns(12 omega,12);
		height: 20%;
		h1{
			font-size: 18px;
			margin-top: 20px;
		}
	}
}

//mid screen / mobile landscape
@include at-breakpoint(30em 12 48em){
	.siteInfo{
		display:none;
	}
	.highLighter{
		display: inline-block;			
		position:relative;
		left:-12px;
		top:0px;
		width: 0;
		height: 0;
		border-left: 10px solid $orange;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}
	.highLighterShadow{
		display: inline-block;
		position:relative;
		left:-0px;
		top:2px;
		width: 0;
		height: 0;
		border-left: 10px solid $grey;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}
	header{
		@include span-columns(12 omega,12);		
		nav{	
			@include span-columns(12 omega,12);
			border-bottom: 1px solid $grey;
			font-size:16px;
			a:hover{
				border-bottom: 5px solid $orange;
			}  
		}

	}
	section{
		@include span-columns(12 omega,12);
		height:100%;
		article{
			@include span-columns(12 omega,12);
			@include pad(3,3);
			h1{
				font-size: 30px;
				margin:20px 0;			
			}				
			p{
				font-size: 14px;
				margin:20px 0;
				line-height: 24px;
			}
			a{	  
				color: $darkGrey;
				text-decoration: underline;		
				font-weight: bold;
			}
			a:hover{
				color: $orange;
			}	  		
		}	
	}
	section#top{
		height:80%;
		margin-bottom: 60px;
		.charBlock{
			width: 60px;
			height: 60px;
			-moz-border-radius: 30px;
			-webkit-border-radius: 30px;
			border-radius: 30px;
			h2{
				top: 5px;
				left: 5px;
				font-size: 32px;
				width: 50px;
				height: 50px;
				background-color: $darkGrey;
				color: $pale;
				text-align: center;
				padding-top:4px;
				-moz-transform: translateY(0px);
				-ms-transform: translateY(0px);
				-moz-border-radius: 25px;
				-webkit-border-radius: 25px;
				border-radius: 25px;
			}
		}
		h3{	
			font-size: 14px;
		}
	}


	section#skillSet{
		#p5Parent{
			@include span-columns(12 omega,12);
			@include pad(1,1);
		}	
	}
	section#about{	
		article{
			@include span-columns(12 omega,12);
			@include pad(1,1);
			#aboutFrame{
				padding:10px 40px;
				text-align: justify;
			}
			p{
				font-size: 14px;
				letter-spacing: 1px;
				line-height: 16px;
			}
		}
	}
	section#workList{
		article{
			@include span-columns(12 omega,12);
			@include pad(1,1);
			margin-bottom: 40px;
			a{
				p{
					font-size: 18px;
					margin: 10px 0 20px;
				}	
			}
		}
		#moreWork{		
			a{		
				font-size: 14px;
				padding: 10px 20px;
			}
		}
	}
	section#workDetail{
		article{
			@include span-columns(12 omega,12);
			@include pad(1,1);
			h1{
				margin: 40px 0 4px;
				text-align: left;
			}
			h2{
				font-size: 14px;
				margin-bottom: 40px;
			}
			p{
				font-size: 14px;
				margin:10px 0;
				line-height: 20px;
			}
		}
	}

	section#contact{
		height: 70%;
	  	article{
	  		h2
	  		{
	  			font-size: 24px;
	  			margin:10px 0 6px;
	  			letter-spacing: 0px;		
	  		}
	  	}
	  	#linkGroup{
	  		margin-top: 6px;
	  		.socialIcon{
	  			font-size: 24px;
	  			width: 40px;	 
	  			height: 40px;
	  			-moz-border-radius: 20px;
				-webkit-border-radius: 20px;
				border-radius: 20px;
	  			padding-top:4px;
	  			span{
	  				font-size:14px;
	  				-webkit-transform: translateY(-6px);
					-moz-transform: translateY(-8px);
					-ms-transform: translateY(-8px);
					-o-transform: translateY(-8px);
	  			}
	  		}
	  	}	  	
	}

	#goTop{
		@include span-columns(12 omega,12);
		@include pad(1,1);
		top:-24px;
		font-size: 24px;
		margin-bottom: -7px;
		-moz-transform: translateY(1px);
		-ms-transform: translateY(1px);	
		a:hover{
			.triangle-up{
				border-bottom: 18px solid $orange;
			}
		}	
		.triangle-up{
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
			border-bottom: 18px solid $dark;
		}
	}
	footer{
		@include span-columns(12 omega,12);
		height: 30%;
		h1{
			font-size: 18px;
			margin-top: 20px;
		}
	}
}

//small screen portrait
@include at-breakpoint(15em 6 30em){
	.siteInfo{
		display: none;
	}

	.highLighter{
		display: inline-block;			
		position:relative;
		left:-6px;
		top:0px;
		width: 0;
		height: 0;
		border-left: 6px solid $orange;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
	}
	.highLighterShadow{
		display: inline-block;
		position:relative;
		left:-0px;
		top:2px;
		width: 0;
		height: 0;
		border-left: 6px solid $grey;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
	}

	.triangle-left{
		position:fixed;
		right: 0px;
		display:block;
		padding:0px;
	}

	header{
		@include span-columns(6 omega,6);
		nav{
			font-size:14px;
			a{	  	
				padding: $navPadding 5px;
			}
			a:hover{
				padding-bottom: $navPadding + 2px;
				border-bottom: 5px solid $orange;
			}  
		}

	}

	section{
		@include span-columns(6 omega,6);
		font-family: 'Oxygen', sans-serif;
		height: auto;
		article{
			@include span-columns(6 omega,6);
			@include pad(0,0);
			h1{
				font-size: 18px;
				margin:10px 0 4px;
				text-align: center; 			
			}				
			p{
				font-size: 12px;
				margin:10px 0;
				line-height: 16px;
			}
		}	
	}

	section#top{
		height: 60%;
		margin-bottom: 20px;
		.charBlock{
			width: $charBloockSize / 2;
			height: $charBloockSize / 2;
			-moz-border-radius: $charBloockSize;
			-webkit-border-radius: $charBloockSize;
			border-radius: $charBloockSize;
			h2{
				top: 4px;
				left: 4px;
				font-size: 24px;
				width: ($charBloockSize / 2) - 8px;
				height: ($charBloockSize / 2) - 8px;
				background-color: $darkGrey;
				color: $pale;
				text-align: center;
				padding-top:2px;
				-moz-transform: translateY(0px);
				-ms-transform: translateY(0px);
				-moz-border-radius: (($charBloockSize / 2) - 8px) / 2;
				-webkit-border-radius: (($charBloockSize / 2) - 8px) / 2;
				border-radius: (($charBloockSize / 2) - 8px) / 2;
			}
		}
		h3{	
			font-size: 12px;
			letter-spacing: 0px;
		}
	}

	section#skillSet{
		display: none;
	}

	section#skillSetMobile{
		display: inline;
		height: auto;
		padding:0 20px;
		margin-bottom: 20px;
		article{
			@include span-columns(6 omega,6);
			@include pad(0,0);
			text-align: left;			
			ul{
				list-style-type:none;
				list-style-position:inside;
				width:100%;
				margin: 0 0 2px;
				padding: 0;
				li{
					color: $pale;
					margin: 4px 0;
					padding: 2px 4px;
				}
			}			
			li.graphicSkill{				
				background-color: $yellow;
			}
			li.ixdSkill{
				background-color: $red;
			}
			li.techSkill{
				background-color: $deepRed;
			}
			li.graphicSkill:nth-child(4){
				width:50%;
			}
			li.ixdSkill:nth-child(3){
				width:75%;
			}
			li.ixdSkill:nth-child(4){
				width:50%;
			}
			li.ixdSkill:nth-child(5){
				width:75%;
			}
			li.techSkill:nth-child(3){
				width:75%;
			}
			li.techSkill:nth-child(4){
				width:75%;
			}
			li.techSkill:nth-child(5){
				width:25%;
			}
			
		}
	}

	section#about{		
		height: 100%;
		padding:0 20px;
		article{
			@include span-columns(6 omega,6);
			@include pad(0,0);			
			#aboutFrame{
				border:none;
				padding:20px;
				text-align: justify;
			}
			p{
				font-size: 12px;
				letter-spacing: 0px;
			}
		}
	}

	section#workList{
		padding:0 20px;		
		article{
			@include span-columns(6 omega,6);
			@include pad(0,0);
			margin-bottom: 40px;
			a{
				@include span-columns(6 omega,6);
				@include pad(0,0);
				p{
					font-size: 18px;
					margin: 10px 0 20px;
				}	
			}
		}
		#moreWork{		
			a{		
				font-size: 14px;
				padding: 10px 20px;
			}
		}
	}
	section#workDetail{
		article{
			@include span-columns(6 omega,6);
			@include pad(0,0);
			h1{
				margin: 20px 0 4px;
				text-align: left;
				padding:0 20px;
			}
			h2{
				font-size: 14px;
				margin-bottom: 20px;
				padding:0 20px;
			}
			p{
				padding:0 20px;
				font-size: 12px;
				letter-spacing: 0px;
				margin:10px 0;
				line-height: 16px;
				text-align: justify;
			}
			img{
				outline: $grey solid 3px;
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}

	section#contact{		  	
	  	height: 60%;
	  	article{
	  		@include span-columns(6 omega,6);
	  		@include pad(0,0);
	  		h2
	  		{
	  			margin:20px 0 4px;
	  			font-size: 18px;
	  			letter-spacing:1px;		
	  		}
	  	}
	  	#linkGroup{
	  		margin-top: 4px;
	  		.socialIcon{
	  			font-size: 18px;
	  			width: 32px;	 
	  			height: 32px;
	  			-moz-border-radius: 16px;
				-webkit-border-radius: 16px;
				border-radius: 16px;
				padding-top:5px;
	  			span{
	  				display: inline-block;
	  				font-size:16px;
	  				-webkit-transform: translateY(-4px);
					-moz-transform: translateY(-4px);
					-ms-transform: translateY(-4px);
					-o-transform: translateY(-4px);
	  			}
	  		}	  		
	  	}
	}
	#goTop{
		@include span-columns(6 omega,6);
		@include pad(0,0);
		top:-24px;
		font-size: 24px;
		text-align: center;
		margin-bottom: -5px;
		-moz-transform: translateY(1px);
		-ms-transform: translateY(1px);	
		a:hover{
			.triangle-up{
				border-bottom: 18px solid $orange;
			}
		}	
		.triangle-up{
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
			border-bottom: 18px solid $dark;
		}
	}
	footer{
		@include span-columns(6 omega,6);
		height: 30%;
		h1{
			font-size: 14px;
			letter-spacing: 0px;
			margin-top: 40px;
		}
	}
}

//extreme small screen
@include at-breakpoint(6 15em){
	.triangle-left{
		display:none;
	}
	.siteInfo{
		display:none;
	}
	nav{
		display: none;
	}
	header{
		display: none;
	}
	section{
		display: none;
	}
	section#contact{
		display: block;		  	
	  	height: 70%;
	  	article{
	  		@include span-columns(6 omega,6);
	  		@include pad(0,0);
	  		h2
	  		{
	  			margin:20px 0 4px;
	  			font-size: 16px;
	  			letter-spacing:1px;		
	  		}
	  	}
	  	#linkGroup{
	  		margin-top: 4px;
	  		.socialIcon{
	  			font-size: 18px;
	  			width: 32px;	 
	  			height: 28px;	  			
	  			span{
	  				display: inline-block;
	  				font-size:16px;
	  				-webkit-transform: translateY(-4px);
					-moz-transform: translateY(-4px);
					-ms-transform: translateY(-4px);
					-o-transform: translateY(-4px);
	  			}
	  		}	  		
	  	}
	}
	#goTop{
		display: none;
	}
	footer{
		@include span-columns(6 omega,6);
		height: 30%;
		h1{
			font-size: 14px;
			letter-spacing: 0px;
			margin-top: 40px;
		}
	}

}



